* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto sans-serif;
}

.margin-right-big {
    margin-right: 130px;
}
.margin-right-little {
    margin-right: 27px ;
}
.width-input {
    width: 400px;
}
.width100 {
    width: 100%;
    margin: 20px;
}
